.main {
  width: 600px;
  background: #c0c0c091;
  padding: 0px 30px 50px 30px;
  margin: 0 auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* ======= 
Typography
======== */

h1 {
  font-size: 48px;
  padding: 25px;
  text-align: center;
  color: #065ec9;
}

h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #104c90;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

a:link {
  color: #ff8000;
  font-weight: bold;
}

/* =======
Global
======= */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ======
Post 
====== */

.post {
  border-radius: 15px;
  margin: 0px auto;
  width: 500px;
  padding: 15px 25px 25px 25px;
  background: #f1f1f1;
  border-bottom: 5px solid #104c90;
}

.first-paragraph {
  margin-top: 25px;
}
